{% extends 'text_summarizer/main.html' %}
{% block content %}

    <style>
        .card{
            border: 1px solid black;
        }
        .form-control{
            border: 1px solid black;
        }
        .sum_card {
            position: relative;
            z-index: 1;
            background: transparent;
            color: white;
            padding: 10px 10px 10px 10px;
            box-shadow: 0 0 5px white;
        }

        .form_card{
            position: relative;
            z-index: 1;
            background: transparent;
            color: white;
        }

        .form-control{
            background-color: rgb(58, 58, 58);
            opacity: 0.9;
            color: black !important;
            border: 0 !important;
            box-shadow: 0 0 8px cyan;
        }

        .form-control:hover{
            box-shadow: 0 0 15px cyan;
        }

        .sum_card .bg {
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(43, 42, 42, 0.363);
            opacity: 0.8;
        }

        @media(max-width: 767px) {
            .sum_card{
                margin-top: 20px;
            }
        }
    </style>

{% for message in messages %}
{% if message.tags == 'error' %}
    <br>
    <div class="alert alert-danger">
    <center><strong style="color: red;">{{ message }}</strong></center>
    </div>
{% else %}
<br>
    <div class="alert alert-success">
        <center><strong style="color: green;">{{ message }}</strong></center>
    </div>
{% endif %}
{% endfor %}

    <div class="container">
        <!-- <br> -->
        {% if summarize_div %}
        <center><h3 style="color: yellow;">A NLP algorithm (Text Ranking Algorithm) based web app for Text Summarization built using Django and Dockers and deployed on Heroku.</h3></center>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form_card" action="{% url 'index' %}" method="POST">
                    <div class="bg"></div>
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Enter the website URL" name="url_link" id="url_link">
                    {% if url_error == True %}
                    <div class="form-control alert-danger" style="margin-top: 10px; background-color: #f8d7da !important;">
                        <center><p style="color: red;"><b>Please enter a valid URL.</b></p></center>
                    </div>
                    {% endif %}
                    <center><h3 style="margin: 10px 0 10px 0;">Or</h3></center>
                    <textarea class="form-control" placeholder="Enter the text" name="textarea" rows="10"></textarea>
                    <br>
                    <input type="text" name="num_lines" class="form-control" placeholder="Enter how many of lines of summary you need. (OPTIONAL)"><br>
                    <center><button class="btn btn-info btn-block" type="submit" name="summarize">Summarize Text</button></center>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        {% endif %}
        {% if flag %}
        <center><a href="{% url 'index' %}" class="btn btn-info btn-block" style="margin-top: 10px;">Back to Home</a></center><br>
        <center><p style="color: rgb(243, 209, 17);font-size: 25px;"><strong>Text was summarized succesfully in {{ time_taken }}s.</strong></p></center>
            <div class="row">
                <div class="col-md-6">
                    <div class="card sum_card">
                        <div class="bg"></div>
                        <center><h2>Summary Of Text</h2></center>
                        {% for sentence in summary %}
                            <p>{{ sentence }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card sum_card">
                        <div class="bg"></div>
                        <center><h2>Original Text</h2></center>
                        {{ content }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}